.product-detail {
  margin-top: 115px;
}
label.radio {
  cursor: pointer;
  padding: 10px 20px 10px 0;
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  span {
    padding: 2px 9px;
    border: 2px solid #8f9192;
    display: inline-block;
    color: #8f9192;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 15px 25px;
  }
  input:checked + span {
    border-color: #000000;
    background-color: #000000;
    color: #fff !important;
    padding: 15px 25px;
  }
}
