.header {
  height: 65px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .logo {
    width: 30%;
    margin: 0 auto;
    float: left;

    img {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  nav {
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;

    ul,
    ul li {
      padding: 0;
      margin: 0;
      height: 100%;
    }

    ul {
      li {
        display: inline-block;
        margin: 0 15px;
        list-style-type: none;

        &:first-child {
          margin-left: 0;
        }

        a {
          font-size: 18px;
          line-height: 65px;
          vertical-align: middle;
          color: #8f9192;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    a.active {
      border-bottom: 5px solid #5ece7b;
      padding-bottom: 20px;
      color: #5ece7b;
    }
  }

  .actions {
    margin: 5% 0;
    float: right;
    ul {
      margin: 0;
      padding: 0;
      float: right;
      li {
        margin: 0 15px;
        display: inline-block;
        list-style-type: none;

        &:last-child {
          margin-right: 0;
        }

        a,
        span {
          line-height: 1;
          color: #8f9192;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }

        .cart {
          .badge {
            font-size: 12px;
            background: #8f9192;
            color: #fff;
            vertical-align: top;
            padding: 6px 8px;
            border-radius: 50%;
            margin-top: -15px;
            margin-left: -7px;
          }
        }
      }
    }
  }
}

/*
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
*/
