.cart-item {
  border-top: 1px solid #8f9192;
  img {
    width: 100%;
    height: 200px;
  }
  .qty-input {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 20px 0;
  }
  .button {
    width: 40px;
    height: 40px;
  }
}
