#main-image {
  //   border: 1px solid #8f9192;
  width: 100%;
  height: 100%;
}

.thumbnail {
  cursor: pointer;
  img {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    &:first-child {
      margin-top: 0 !important;
    }
  }
}
